
// Import a Google Font

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900');

// Set your brand colors
$purple: #8A4D76;
$light-grey:lightgrey;
$dark:rgb(22, 28, 41);
$green:#00cc86;
$light-green:#bafacd;
$red:#dc3900;
$light-red:#ffe5e3;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$primary: $purple;
$link: $purple;

// Update some of Bulma's component variables
$control-border-width: 2px;
$body-background-color:white;
$input-background-color: $light-grey;
$input-border-color: transparent;
$input-shadow: none;


/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bulma/bulma.sass';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
